<div class="edit">

<%= form_for @task do |f| %>
  <%= f.label :title, "What is your task?" %>
  <%= f.text_field :title %>
  <%= f.label :details, "What do you need to do?" %>
  <%= f.text_field :details %>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
  <%= f.submit %>
<% end %>
</div>

<div class="button-group">
<p type="button" class="btn"> <%= link_to "back to all tasks", tasks_path %> </p>
</div>

